/* ===== GENEL ===== */
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #0f172a; /* Koyu tema */
    color: #e5e7eb;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0 5px 0;
    font-weight: 700;
}

p {
    text-align: center;
    color: #cbd5f5;
}

/* ===== ANA KONTAINER ===== */
.container {
    display: flex;
    gap: 20px;
    max-width: 100%;
    margin: 0;
    padding: 0 10px; /* Kenarlarda biraz boşluk */
    box-sizing: border-box;
}

/* ===== SON DEPREMLER LİSTESİ ===== */
.list {
    width: 40%; /* Daha geniş */
    background: #111827; /* Koyu arkaplan */
    color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    max-height: 90vh; /* Yükseklik ekranın büyük kısmı */
    overflow-y: auto;
}

/* Scrollbar gizle */
.list::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.list {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    -webkit-overflow-scrolling: touch; /* iOS yumuşak kaydırma */
}

.list h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    color: #60a5fa;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tabs button {
    flex: 1;
    margin: 3px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: #1f2937;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.tabs button.active {
    background: #2563eb;
}

/* Depremler listesi */
.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    background: #1f2937;
    border-left: 5px solid #22c55e;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.list li:hover {
    background: #111827;
}

.list li.big {
    border-left: 6px solid #ef4444;
    background: #831010;
    color: #fecaca;
}

/* ===== HARİTA ===== */
#map {
    width: 60%; /* Daha geniş */
    height: 90vh; /* Listeyle aynı yükseklik */
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* ===== POPUP ===== */
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.popup-content {
    background: #1f2937;
    color: #fff;
    padding: 25px;
    width: 420px;
    margin: 12% auto;
    border-radius: 12px;
    text-align: center;
    border-top: 6px solid red;
}

.popup-content h2 {
    color: #f87171;
}

.popup-content button {
    margin-top: 15px;
    padding: 10px 25px;
    background: red;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
